services:
  redis:
    image: redis:7-alpine
    container_name: redis_container
    restart: always
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    env_file:
      - .env
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redis_data:/data
    networks:
      - shared_network

volumes:
  redis_data:

networks:
  shared_network: {}